@import '../../../../styles.scss';

.add-specific-person-container {
    font-family: "Nunito";
    width: 100%;
    position: relative;
    @include d-flex(column, space-between, none, 20px);

    >span {
        @include d-flex($jc: flex-start, $g: 15px);

        >.hashtag-icon path {
            fill: $specialBlue;
        }

        >h3 {
            font-size: 18px;
            font-weight: 400;
            color: $specialBlue;
        }
    }
}

.search-member-container {
    @include d-flex($jc: flex-start, $g: 10px);
    border: 1px solid rgb(173, 176, 217);
    border-radius: 30px;
    padding: 16px;
}

.selected-members-container {
    @include d-flex($jc: flex-start);
}

.selected-member-and-cross-icon-container {
    @include d-flex($jc: space-between);
    padding: 4px 12px;
    border-radius: 30px;

    &:hover {
        background: rgba(236, 238, 254, 1);
    }
}

.selected-member {
    @include d-flex($jc: space-between, $g: 10px);

    >.avatar-selected-member {
        height: 30px;
        width: 30px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.cross-icon-member {
    height: 32px;
    width: 32px;
    object-fit: contain;
    cursor: pointer;

    &:hover path {
        fill: $specialBlue;
    }
}

.search {
    height: 100%;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    outline: none;
    border: unset;
    flex: 1;
}


.suggested-member-list-container {
    background: #fff;
    border-radius: 0px 30px 30px 30px;
    padding: 40px 0px 40px 40px;
    position: absolute;
    top: 105px;
    left: 0;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    min-width: 300px;
}

.suggested-member-list {
    @include d-flex(column, space-between, flex-start, 20px);
    overflow-y: auto;
    width: 100%;
    max-height: 200px;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(173, 176, 217, 1);
        border-radius: 100px;
    }
}

.suggested-member {
    @include d-flex($jc: flex-start, $g: 20px);
    border-radius: 100px;
    padding: 4px 20px;

    &:hover {
        background: rgb(236, 238, 254);
    }

    >.avatar-member {
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 100%;
    }

    >span {
        font-size: 18px;
        font-weight: 400;
    }
}

.btn-container {
    @include d-flex($jc: flex-end);

    >button {
        border-radius: 25px;
        padding: 12px 25px;
        background: rgba(104, 104, 104, 1);
        font-size: 18px;
        font-weight: 700px;
        color: #fff;
    }
}

.view-all-selected-members-btn {
    @include d-flex($jc: space-between, $g: 10px);
    border-radius: 30px;
    padding: 4px 12px;
    position: relative;

    &:hover {
        background: rgb(236, 238, 254);
    }

    &:hover .arrow-drop-down path {
        fill: $specialBlue;
    }

    &:hover p {
        color: $specialBlue;
    }

    >p {
        font-weight: 700;
        font-size: 18px;
    }
}

.selected-members-full-list-container {
    position: absolute;
    top: 32px;
    left: 0px;
    background: #fff;
    width: 300px;
    max-height: 300px;
    height: auto;
    border-radius: 0px 30px 30px 30px;
    padding: 24px 0px 24px 0px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);

}

.selected-members-full-list {
    @include d-flex($fd: column, $jc: flex-start, $ai: flex-start, $g: 20px);
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow-y: auto;
    padding: 16px;

    &::-webkit-scrollbar {
        width: 6px;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(173, 176, 217, 1);
        ;
        border-radius: 100px;
    }
}

.selected-member-in-full-list {
    @include d-flex($jc: flex-start, $g: 10px);
    padding: 4px 12px;
    border-radius: 25px;
    font-size: 18px;

    &:hover {
        background: rgb(236, 238, 254);
    }

    >.avatar-selected-member {
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 100%;
    }
}