@import '../../../../../styles.scss';

.textarea-container {
    position: relative;
    width: 100%;
    height: 180px;
    bottom: -8px;
    left: 30px;
    right: 30px;
    min-height: 145px;
    background: #fff;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 20px;
    padding: 20px;
    @include d-flex($fd: column);

    >textarea {
        display: flex;
        flex: 1;
        width: 100%;
        border: unset;
        outline: none;
        resize: none;
        font-family: "Nunito";
        font-size: 18px;
        font-weight: 400;

        &::placeholder {
            font-size: 18px;
            font-weight: 400;
            color: rgba(104, 104, 104, 1);
        }
    }

    >.tool-panel-textarea {
        width: 100%;
        @include d-flex($jc: space-between);
    }

    .action-btns {
        @include d-flex($g: 32px);

        .cancel-btn {
            border: 1px solid #797EF3;
            color: #444DF2;
            font-weight: 700;
            font-size: 18px;
            &:hover {
                background-color: #5359F1;
                color: white;
            }
        }

        .save-btn {
            border: 1px solid transparent;
            font-weight: 700;
            font-size: 18px;
            color: white;
            background-color: #444DF2;
            &:hover {
                background-color: #787EF2;
            }
        }
    }
}

.textarea-icon {
    cursor: pointer;
}

// Media queries

@media (max-width: 1100px) {
    .btn-no-style {
        padding: 8px 15px;
    }

    .textarea-container {
        .tool-panel-textarea {
            align-items: flex-end;
        }

        .action-btns {
            gap: 8px;
            flex-direction: column;
    
            .save-btn {
                width: 100%;
            }
        }
    }
}

@media (max-width: 560px) {
    .textarea-container {
        left: 50%;
        transform: translateX(-50%);
        right: auto;

        > textarea {
            margin-bottom: 4px;
        }
    }

    .btn-no-style {
        padding: 4px 12px;
    }

    .emoji-container {
        left: 50%;
        transform: translateX(-50%);
    }

    .textarea-container .action-btns {
        gap: 8px;
    }
}

@media (max-width: 470px) {
    .textarea-container {
        .tool-panel-textarea {
            align-items: flex-end;
        }

        .action-btns {
            flex-direction: column;
        }
    }

    .btn-no-style {
        font-size: 16px;
    }
}

@media (max-width: 420px) {
    .emoji-container {
        left:25%;
        transform: translateX(-25%);
    }
}