@import '../../../../styles.scss';

.textarea-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;
    height: 145px;
    background: #fff;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 20px;
    padding: 20px;
    @include d-flex($fd: column);

    >textarea {
        display: flex;
        flex: 1;
        width: 100%;
        border: unset;
        outline: none;
        resize: none;
        font-family: "Nunito";
        font-size: 18px;
        font-weight: 400;

        &::placeholder {
            font-size: 18px;
            font-weight: 400;
            color: rgba(104, 104, 104, 1);
        }
    }

    >.tool-panel-textarea {
        width: 100%;
        @include d-flex($jc: space-between);
    }
}

.textarea-icon:hover {
    border-radius: 100%;
    background: rgba(236, 238, 254, 1);
    cursor: pointer;
}

.textarea-icon:hover path {
    fill: $specialBlue;
}

.sendMsg-icon:hover {
    border-radius: 100%;
    background: rgba(236, 238, 254, 1);
    cursor: pointer;
}

.sendMsg-icon:hover path {
    fill: $specialBlue;
}

.emoji-mart {
    width: 75% !important;
}

.emoji-container {
    position: absolute;
    bottom: 160px;
    left: 40px;
}

.d-none {
    display: none;
}