@import '../../../../styles.scss';

.chat-box {
    position: relative;
}

.chat-box-2 {
    margin-bottom: 150px;
}

.time-separator-container {
    position: relative;
    width: 100%;
    height: 35px;
    @include d-flex($jc: flex-start);
}

.date-container {
    @include d-flex();
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.date {
    background: #fff;
    border-radius: 30px;
    padding: 5px 15px;
    border: 1px solid rgba(173, 176, 217, 1);
    font-family: "Nunito";
}

.line {
    display: block;
    background: rgba(173, 176, 217, 1);
    height: 1px;
    width: 100%;
}

.reaction-bar {
    position: absolute;
    top: 34px;
    right: 16px;
    z-index: 10;
    background: #fff;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 25px 25px 0px 25px;
    padding: 3px 15px 3px 20px;
    opacity: 0;
    @include d-flex($jc: space-between, $g: 5px);
    transition: all 0.125s ease-in-out;

    >img {
        cursor: pointer;
        border-radius: 100%;
        margin: 4px;

        &:hover {
            background: rgba(236, 238, 254, 1);
        }
    }
}

.slide-in {
    opacity: 1;
    //right: 16px;
}

.reaction-dialog {
    position: absolute;
    top: 48px;
    right: 80px;
    @include d-flex($jc: center, $g: 12px);
    flex-wrap: wrap;
    padding: 15px 12px;
    background-color: white;
    width: 180px;
    border-radius: 30px 0 30px 30px;
    box-shadow: 0px 2px 10px 0px #00000014;
}

.emoji-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;

    object-fit: cover;
    border-radius: 100%;
    transition: all 0.125s ease-in-out;

    &:hover {
        background-color: transparent !important;
        transform: scale(1.2);
    }
}

.reaction-dialog-reverse {
    right: -100px;
    border-radius: 0 30px 30px 30px;
}

.message-box {
    @include d-flex(row, flex-start, flex-start, 30px);
    padding: 10px 25px 10px 70px;
    margin-top: 24px;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);

    &:hover {
        background: rgb(236, 238, 254);
    }

    &:hover .message-container .message {
        background: #fff;
    }

    &:hover .last-answer-container {
        color: #000;
        font-weight: bold;
    }

    &:hover .answer-container .answers {
        font-weight: bold;
    }

    >.avatar-photo {
        height: 70px;
        width: 70px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.message-box-reverse {
    flex-direction: row-reverse !important;
    padding: 10px 70px 10px 0px !important;

    &:hover {
        background-color: #ECEEFD !important;
    }

    &:hover .message-container .message {
        background-color: #787EF2;
        color: #fff;
    }

    .message-container {
        align-items: flex-end !important;

        p {
            border-radius: 30px 0 30px 30px !important;
        }
    }

    .reaction-indicator-bar {
        flex-direction: row-reverse;
    }
}

.reaction-bar-reverse {
    right: auto !important;
    left: 16px !important;
}

.message-container {
    width: 80%;
    //min-width: 352px;
    @include d-flex(column, flex-start, flex-start, 8px);
    font-family: "Nunito";

    >.name-and-time-container {
        display: flex;
        align-items: center;
        gap: 20px;

        >.avatar-name-message {
            font-size: 18px;
            font-weight: 700;
        }

        >.time {
            font-size: 14px;
            font-weight: 400;
            color: rgba(104, 104, 104, 1)
        }
    }

    >.message {
        padding: 16px;
        font-size: 18px;
        border-radius: 0px 30px 30px 30px;
        background: rgba(236, 238, 254, 1)
    }
}

.reaction-dialog-indicatorbar {
    position: absolute;
    bottom: 48px;
    left: 48px;
    width: 272px;
    @include d-flex($jc: center, $g: 12px);
    flex-wrap: wrap;
    padding: 15px 12px;
    background-color: white;
    z-index: 10;
    border-radius: 30px 30px 30px 0px;
    box-shadow: 0px 2px 10px 0px #00000014;
}

.reaction-dialog-indicatorbar-reverse {
    right: 24px !important;
    left: auto !important;
    border-radius: 30px 30px 0 30px !important;
}

.reaction-indicator-bar {
    @include d-flex($jc: flex-start, $ai: center, $g: 8px);
    position: relative;
    flex-wrap: wrap;

    >.reaction-indicator {
        padding: 5px 10px;
        border: 1px solid rgba(173, 176, 217, 1);
        border-radius: 20px;
        @include d-flex($jc: space-between, $ai: center, $g: 10px);

        img {
            cursor: pointer;
            width: 24px;
            height: 24px;

            object-fit: cover;
            border-radius: 100%;
            transition: all 0.125s ease-in-out;

            &:hover {

                transform: scale(1.1);
            }
        }

        >.pop-up-reaction {
            position: absolute;
            top: -131px;
            left: 26px;
            width: 150px;
            border-radius: 30px 30px 30px 0px;
            background: blue;
            padding: 15px 10px;
            color: #fff;
            display: none;
            transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
            z-index: 10;

            >.pop-up-reacter {
                @include d-flex($fd: column, $ai: center, $g: 5px);
            }
        }

        &:hover {
            >.pop-up-reaction {
                @include d-flex($fd: column, $g: 5px);
            }
        }
    }
}

.add-reaction-icon {
    cursor: pointer;

    &:hover path {
        fill: $specialBlue;
    }
}

.answer-container {
    width: 260px;
    @include d-flex($jc: space-between);

    >.answers {
        @include d-flex($jc: space-between, $g: 10px);
        font-size: 18px;
        font-weight: 400;
        color: $specialBlue;
    }

    >.last-answer-container {
        @include d-flex($jc: space-between, $g: 4px);
        font-size: 14px;
        font-weight: 400;
        color: rgba(104, 104, 104, 1)
    }
}

.addReaction-icon,
.answer-icon {
    cursor: pointer;
    border-radius: 100%;

    &:hover {
        background: rgba(236, 238, 254, 1);
    }

    &:hover path {
        fill: $specialBlue;
    }
}

.uploaded-file-container {
    cursor: pointer;
    @include d-flex();
    padding: 8px;
    border: 4px solid #e6e6e6;
    border-radius: 12px;
    margin-left: 8px;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: white;
    transition: all .125s ease-in-out;

    &:hover .uploaded-img {
        transform: scale(1.02);
    }

    &:hover .close-icon {
        opacity: 1;
    }

    .uploaded-img {
        position: absolute;
        width: 200px;
        height: 200px;
        object-fit: contain;
        transition: all .125s ease-in-out;
    }

    .close-icon {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 24px;
        height: 24px;
        padding: 4px;
        border-radius: 100%;
        opacity: 0;
        transition: all .125s ease-in-out;

        &:hover {
            background-color: #ECEEFE;
        }
    }
}

.file-popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: .15);
    @include d-flex();
    z-index: 99;

    .img-container {
        @include d-flex();
        background-color: white;
        padding: 24px;
        border-radius: 25px;
        border: 4px solid #e6e6e6;
        width: 40%;
        position: relative;

        &:hover .link {
            opacity: .9;
        }

        .img-in-popup {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .link {
            position: absolute;
            z-index: 100;
            opacity: 0;
            cursor: pointer;
            z-index: 100;
            border-radius: 100%;
            padding: 8px;
            background-color: #e6e6e6;
            transition: all .125s ease-in-out;
        }
    }


    .close-icon {
        cursor: pointer;
        position: absolute;
        top: 24px;
        right: 24px;
        padding: 4px;
        border-radius: 100%;
        transition: all .125s ease-in-out;

        &:hover {
            background-color: #ECEEFE;
            transform: scale(1.2);
        }
    }
}

.highlight-background {
    background: #BDBFE1 !important;
}

// media queries

@media (max-width: 1100px) {
    .message-box {
        padding: 10px 25px 10px 40px;

        >.avatar-photo {
            width: 48px;
            height: 48px;
        }
    }

    .message-box-reverse {
        padding: 10px 25px 10px 40px !important;
    }

    .answer-icon,
    .addReaction-icon {
        width: 32px !important;
        height: 32px !important;
    }

    .reaction-indicator-bar>.reaction-indicator img {
        width: 18px;
        height: 18px;
    }

    .answer-container>.answers {
        font-size: 16px;
    }
}

@media (max-width: 960px) {
    .message-box {
        padding: 10px 16px;
    }

    .message-box-reverse {
        padding: 10px 16px !important;
    }

    .reaction-dialog-indicatorbar {
        bottom: 32px;
        left: 32px;
        padding: 10px 12px;
    }

    .emoji-icon {
        width: 20px;
        height: 20px;
    }

    .file-popup .img-container {
        width: 55%;
    }
}

@media (max-width: 690px) {
    .file-popup .img-container {
        width: 75%;
    }
}

@media (max-width: 560px) {
    .message-box {
        gap: 20px;
        margin-top: 10px;

        >.avatar-photo {
            width: 40px;
            height: 40px;
        }
    }

    .message-container > .message {
        padding: 15px;
        font-size: 17px;
    }

    .reaction-dialog {
        top: 40px;
        right: 64px;
    }

    .reaction-dialog-reverse {
        right: -80px;
    }
}

@media (max-width: 420px) {
    .file-popup .img-container {
        width: 95%;
    }

}

