<div class="content">
    <h2>Anmeldung</h2>
    <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die <br> du bei der Arbeit verwendest.</span>
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <div class="input-fields">
            <div class="input-container">
                <div class="input-box">
                    @if (mail== '') {
                        <img src="assets/img/mail.png" alt="">
                    } @else {
                        <img src="assets/img/mail_black.png" alt="">
                    }
                    <label for="email"></label>
                    <input [(ngModel)]="mail" #email type="email" id="email" name="email" placeholder="beispielname@email.com">
                </div>
            </div>

            <div class="input-container">
                <div class="input-box">
                    @if (password == '') {
                        <img src="assets/img/lock.png" alt="">
                    } @else {
                        <img src="assets/img/lock_black.png" alt="">
                    }
                    <label for="password"></label>
                    <input [(ngModel)]="password" type="password" id="password" name="password" placeholder="Passwort">
                </div>
                @if(errorMessage) {
                    <span class="error-message">E-Mail-Adresse oder Passwort falsch. Bitte noch einmal versuchen.</span>
                }
            </div>
        </div>


        <span (click)="forgotPassword()" class="forgot-password">Password vergessen?</span>

        <div class="seperator">
            <span>ODER</span>
        </div>

        <div class="google-container">
            <button class="btn-no-style google-btn"><img src="../../assets/img/google_logo.png" alt="">Anmelden mit
                Google</button>
        </div>
        <div class="submit-container">
            <input type="submit" class="btn-no-style login-btn" value="Anmelden">
            <div class="btn-no-style guest-login-btn">Gäste-Login</div>
        </div>
    </form>
</div>

