@import '../../../../styles.scss';

* {
    font-family: 'Nunito', sans-serif;
}

.input-container {
    position: relative;
    @include d-flex($fd: column, $ai: flex-start, $g: 20px);

    label {
        font-size: 24px;
        font-weight: 700;
    }

    input {
        border: 1px solid #ADB0D9;
        padding: 15px 20px;
        border-radius: 30px;
        width: 100%;
        outline: none;
        font-size: 18px;
        &:focus {
            border-color: #444DF2;
        }

        ::placeholder {
            color: #686868;
            font-size: 18px;
        }
    }
}

.results {
    position: absolute;
    top: 108px;
    left: 0;
    width: 50%;
    @include d-flex($fd:column, $g: 12px, $ai: flex-start);
    padding: 15px 15px;
    border-radius: 30px;
    box-shadow: 4px 2px 10px 5px rgba(0, 0, 0, 0.2);
    z-index: 20;
    background-color: white;
}

.user {
    cursor: pointer;
    @include d-flex($jc: flex-start, $g: 16px);
    font-size: 16px;
    font-weight: 700;
    transition: all .125s ease-in-out;
    padding: 6px 12px;
    border-radius: 30px;

    &:hover {
        transform: scale(1.05);
        background-color: #ECEEFE;
    }
    >img {
        width: 32px; 
        height: 32px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.channel {
    cursor: pointer;
    @include d-flex($jc: flex-start, $g: 16px);
    font-size: 18px;
    font-weight: 700;
    transition: all .125s ease-in-out;
    padding: 6px 12px;
    border-radius: 30px;

    >span {
        @include d-flex($jc: flex-start, $g: 16px)
    }

    &:hover {
        transform: scale(1.05);
        background-color: #ECEEFE;
    }
}