<div>
    <div class="relative flex flex-col items-start gap-5 font-['Nunito']">
        <label for="newMessage" class="text-2xl font-bold">Neue Nachricht</label>
        <input type="text" name="newMessage" id="newMessage" [(ngModel)]="searchInput" #newMessage="ngModel"
            placeholder="An: #Channel, oder @jemand oder E-Mail Adresse"
            class="border border-[#ADB0D9] py-[15px] px-5 rounded-[30px] w-full outline-none text-lg focus:border-[#444DF2] placeholder:text-[#686868] placeholder:text-lg">

        @if (tagMember) {
        <div class="absolute top-[108px] left-0 w-1/2 flex flex-col items-start gap-3 p-[15px] rounded-[30px] shadow-[4px_2px_10px_5px_rgba(0,0,0,0.2)] z-20 bg-white">
            @for (user of filteredUsers; track user.id; let i = $index) {
            <div class="cursor-pointer flex items-center justify-start gap-4 text-base font-bold transition-all duration-[125ms] ease-in-out py-[6px] px-3 rounded-[30px] hover:scale-[1.05] hover:bg-[#ECEEFE]" (click)="openMessage(i, $event)">
                <img src="{{ user.avatarPath }}" alt="" class="w-8 h-8 object-cover rounded-full">
                <span>{{ user.name }}</span>
            </div>
            }
        </div>
        }
        @if (tagChannel) {
        <div class="absolute top-[108px] left-0 w-1/2 flex flex-col items-start gap-3 p-[15px] rounded-[30px] shadow-[4px_2px_10px_5px_rgba(0,0,0,0.2)] z-20 bg-white">
            @for (channel of filteredChannels; track channel.id; let i = $index) {
            <div class="cursor-pointer flex items-center justify-start gap-4 text-lg font-bold transition-all duration-[125ms] ease-in-out py-[6px] px-3 rounded-[30px] hover:scale-[1.05] hover:bg-[#ECEEFE]" (click)="openChannel(i, $event)">
                <span class="flex items-center justify-start gap-4"># {{ channel.title }}</span>
            </div>
            }
        </div>
        }

    </div>
</div>
