@if(this.boardServ.showSearchDialog){
<div class="wrapper">
    <div class="search-dialog">
        @if(mainSearchList.length > 0){
        @for(result of mainSearchList; track result; let index = $index){
        @if(result.title){
        <div (click)="showSearchElementClicked(index, $event)" id="{{index}}" class="filtered-channel">
            <span>Dein Kanal :</span>
            <span class="filtered-channel-name">#{{result.title}}</span>
            <span class="separator-bar"></span>
        </div>
        } @else if(result.name && result.avatarPath){
        <div (click)="showSearchElementClicked(index, $event)" id="{{index}}" class="filtered-user-container">
            <span>Benutzer :</span>
            <div class="filtered-user">
                <img src="{{result.avatarPath}}" alt="">
                <span>{{result.name}}</span>
            </div>
            <span class="separator-bar"></span>
        </div>
        }
        @else if(result.guest){
        <div (click)="showSearchElementClicked(index, $event)" id="{{index}}" class="filtered-chat-container">
            <span>Direktnachricht :</span>
            <div class="filtered-partner">
                <img src="{{result.guest.avatarPath}}" alt="">
                <span> {{result.guest.name}}</span>
            </div>
            <span class="separator-bar"></span>
        </div>
        }
        }
        } @else {
        <p>Keine Ergebnisse gefunden</p>
        }
    </div>
</div>
}