<header>
    <div class="logo-box">
        <img src="assets/img/logo.png" alt="">
        <img src="../../assets/img/logoName.png" alt="">
    </div>
    <div class="register-box">
        <span>Neu bei DABubble?</span>
        <a href="#">Konto erstellen</a>
    </div>
</header>
<div class="content">
    <div class="login-container">
        <h2>Anmeldung</h2>
        <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die <br> du bei der Arbeit verwendest.</span>
        <form>
            <div class="input-container">
                <img src="assets/img/mail.png" alt="">
                <label for="email"></label>
                <input type="email" id="email" name="email" placeholder="beispielname@email.com">
            </div>
            <div class="input-container">
                <img src="assets/img/lock.png" alt="">
                <label for="password"></label>
                <input type="password" id="password" name="password" placeholder="Passwort">
            </div>
            <span class="forgot-password">Password vergessen?</span>

            <div class="seperator">
                <span>ODER</span>
            </div>

            <div class="google-container">
                <button class="btn-no-style google-btn"><img src="../../assets/img/google_logo.png" alt="">Anmelden mit
                    Google</button>
            </div>
            <div class="submit-container">
                <input type="submit" class="btn-no-style login-btn" value="Anmelden">
                <div class="btn-no-style guest-login-btn">Gäste-Login</div>
            </div>
        </form>
    </div>
</div>