<div class="content">
    <div class="headline">
        <h3>Benachrichtigungen</h3>
        <img src="assets/icons/close.svg" alt="" class="" (click)="closeDialog(); boardServ.stopPropagation($event)">
    </div>
    <div class="notifications-container" (click)="findCurrentUser()">
        
        <div class="notification active">
            <div class="user-container ">
                <img src="assets/img/avatar1.png" alt="" class="avatar-img">
                <span>User Name</span>
            </div>
            <span>hat dich in <b># Willkommen</b> markiert</span>
        </div>

        <div class="notification active">
            <div class="user-container">
                <img src="assets/img/avatar1.png" alt="" class="avatar-img">
                <span>User Name</span>
            </div>
            <span>hat dich in <b># Willkommen</b> markiert</span>
        </div>

        <div class="notification">
            <div class="user-container">
                <img src="assets/img/avatar1.png" alt="" class="avatar-img">
                <span>User Name</span>
            </div>
            <span>hat dich in <b># Willkommen</b> markiert</span>
        </div>

        <div class="notification">
            <div class="user-container">
                <img src="assets/img/avatar1.png" alt="" class="avatar-img">
                <span>User Name</span>
            </div>
            <span>hat dich in <b># Willkommen</b> markiert</span>
        </div>

        <div class="notification">
            <div class="user-container">
                <img src="assets/img/avatar1.png" alt="" class="avatar-img">
                <span>User Name</span>
            </div>
            <span>hat dich in <b># Willkommen</b> markiert</span>
        </div>

        <div class="notification">
            <div class="user-container">
                <img src="assets/img/avatar1.png" alt="" class="avatar-img">
                <span>User Name</span>
            </div>
            <span>hat dich in <b># Willkommen</b> markiert</span>
        </div>

    </div>
</div>
