<div class="flex flex-col gap-8 max-md:gap-5 max-h-[870px]:gap-6 max-h-[770px]:gap-4">
    <div class="relative flex items-center justify-center w-full px-8">
        <img (click)="gotBackToLogin()" routerLink="../login" src="assets/img/arrow_back.png" alt="" class="absolute left-[-24px] px-[15px] py-[15px] rounded-full cursor-pointer transition-all duration-125 hover:bg-[#ECEEFE] max-md:left-[-8px] max-md:px-2 max-[550px]:left-[-8px] max-[550px]:px-2 max-[380px]:left-1 max-[380px]:px-1">
        <h2 class="text-[#444DF2] text-[46px] font-bold text-center max-md:text-[32px] max-h-[870px]:text-[24px] max-h-[770px]:text-[24px]">Passwort zurücksetzen</h2>
    </div>
    <span class="text-[20px] text-center max-md:text-[17px] max-h-[870px]:text-[15px] max-h-[770px]:text-[15px]">Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
    <form (ngSubmit)="onSubmit(forgotPasswordForm)" #forgotPasswordForm="ngForm" class="flex flex-col gap-8 w-full max-md:gap-5 max-h-[870px]:gap-4 max-h-[770px]:gap-3">
        <div class="flex flex-col gap-[15.5px]">
            <div class="h-[85px] max-h-[770px]:h-[67px]">
                <div class="relative flex items-center w-[500px] rounded-full bg-[#ECEEFE] max-md:w-full">
                    @if (mail === '') {
                    <img src="assets/img/mail.png" alt="" class="absolute ml-8">
                    } @else {
                    <img src="assets/img/mail_black.png" alt="" class="absolute ml-8">
                    }
                    <label for="email"></label>
                    <input [(ngModel)]="mail" #email="ngModel" type="email" id="email" name="email"
                        placeholder="beispielname@email.com" required
                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                        class="border border-transparent rounded-full outline-none bg-transparent w-full px-8 py-[18px] pl-[88px] h-full text-[18px] max-md:text-[17px] max-h-[770px]:text-[15px] placeholder-[#686868] transition-all duration-125 hover:border-black focus:border-[#444DF2] max-[380px]:pl-[70px]">
                </div>
                @if (email.touched && !email.valid) {
                <span class="text-[14px] text-[#ED1E79] text-center max-h-[770px]:text-[13px]">Diese E-Mail-Adresse ist leider ungültig</span>
                }
            </div>

            <span class="text-[20px] text-center max-md:text-[17px] max-h-[870px]:text-[15px] max-h-[770px]:text-[15px]">Wir senden Ihnen eine E-Mail, über die <br> Sie Ihr Passwort ändern können.</span>
        </div>
        <input [disabled]="!forgotPasswordForm.valid" [class.disabled-btn]="!forgotPasswordForm.valid" type="submit"
            class="btn-no-style w-fit bg-[#444DF2] text-white transition-all duration-125 hover:bg-[#787EF2] hover:border-[#787EF2] cursor-pointer px-4 py-2 rounded-full font-medium self-end max-md:px-[18px] max-md:py-3" value="E-Mail senden">
    </form>
</div>