<header>
    <div class="logo-box">
        <img src="assets/img/logo.png" alt="">
        <h1>DABubble</h1>

    </div>
</header>
<div class="content">
    <div class="login-container">

        <div class="headline">
            <img (click)="gotBackToLogin()" routerLink="../login" src="assets/img/arrow_back.png" alt=""
                class="back-arrow">
            <h2>Passwort zurücksetzen</h2>
        </div>
        <span>Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
        <form (ngSubmit)="onSubmit(forgotPasswordForm)" #forgotPasswordForm="ngForm">
            <div class="input-fields">
                <div class="input-container">
                    <div class="input-box">
                        @if (mail == '') {
                        <img src="assets/img/mail.png" alt="">
                        } @else {
                        <img src="assets/img/mail_black.png" alt="">
                        }
                        <label for="email"></label>
                        <input [(ngModel)]="mail" #email type="email" id="email" name="email"
                            placeholder="beispielname@email.com" required>
                    </div>
                    <span class="error-message">Diese E-Mail-Adresse ist leider ungültig</span>
                </div>

                <span>Wir senden Ihnen eine E-Mail, über die <br> Sie Ihr Passwort ändern können.</span>

            </div>
            <input [class.disabled-btn]="!forgotPasswordForm.valid" [disabled]="!forgotPasswordForm.valid" type="submit"
                class="btn-no-style login-btn" value="E-Mail senden">
        </form>

    </div>
</div>