@import '../../../styles.scss';

.textarea-container {
    position: absolute;
    bottom: 20px;
    left: 38px;
    right: 38px;
    min-height: 145px;
    background: #fff;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 20px;
    padding: 20px;
    @include d-flex($fd: column);

    textarea {
        display: flex;
        flex: 1;
        width: 100%;
        border: unset;
        outline: none;
        resize: none;
        font-family: "Nunito";
        font-size: 18px;
        font-weight: 400;

        &::placeholder {
            font-size: 18px;
            font-weight: 400;
            color: rgba(104, 104, 104, 1);
        }

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(173, 176, 217, 1);
            border-radius: 100px;
        }
    }

    >.tool-panel-textarea {
        width: 100%;
        @include d-flex($jc: space-between);
    }
}

.textarea-icon:hover {
    border-radius: 100%;
    background: rgba(236, 238, 254, 1);
    cursor: pointer;
}

.textarea-icon:hover path {
    fill: $specialBlue;
}

.sendMsg-icon:hover {
    border-radius: 100%;
    background: rgba(236, 238, 254, 1);
    cursor: pointer;
}

.sendMsg-icon:hover path {
    fill: $specialBlue;
}

.d-none {
    display: none;
}

.emoji-container {
    position: absolute;
    background-color: white;
    bottom: 174px;
    left: 110px;
    z-index: 5;
}

.tag-member-dialog {
    font-family: 'Nunito', sans-serif;
    position: absolute;
    bottom: 176px;
    left: 96px;
    @include d-flex($fd: column, $g: 12px, $ai: flex-start);
    padding: 15px 15px;
    border-radius: 30px;
    box-shadow: 4px 2px 10px 5px rgba(0, 0, 0, 0.2);
    z-index: 20;
    background-color: white;

    .member {
        cursor: pointer;
        @include d-flex($jc: flex-start, $g: 16px);
        font-size: 16px;
        font-weight: 700;
        transition: all .125s ease-in-out;
        padding: 6px 12px;
        border-radius: 30px;

        &:hover {
            transform: scale(1.05);
            background-color: #ECEEFE;
        }

        >img {
            width: 32px;
            height: 32px;
            object-fit: cover;
            border-radius: 100%;
        }
    }


}

input[type="file"] {
    display: none;
}

.icons-container {
    @include d-flex();
}

.uploaded-file {
    cursor: pointer;
    @include d-flex();
    padding: 8px;
    border: 4px solid #e6e6e6;
    border-radius: 12px;
    margin-left: 8px;
    position: relative;
    width: 250px;
    height: 100px;
    overflow: hidden;

    &:hover .uploaded-img {
        transform: scale(1.1);
    }

    &:hover .close-icon {
        opacity: 1;
    }

    .uploaded-img {
        position: absolute;
        width: 200px;
        height: 80px;
        object-fit: contain;
        transition: all .125s ease-in-out;
    }

    .close-icon {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 24px;
        height: 24px;
        padding: 4px;
        border-radius: 100%;
        opacity: 0;
        transition: all .125s ease-in-out;

        &:hover {
            background-color: #ECEEFE;
        }
    }
}

.uploaded-file-container {
    cursor: pointer;
    @include d-flex();
    padding: 8px;
    border: 4px solid #e6e6e6;
    border-radius: 12px;
    margin-left: 8px;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: white;
    transition: all .125s ease-in-out;

    &:hover .uploaded-img {
        transform: scale(1.02);
    }

    &:hover .close-icon {
        opacity: 1;
    }

    .uploaded-img {
        position: absolute;
        width: 200px;
        height: 200px;
        object-fit: contain;
        transition: all .125s ease-in-out;
    }

    .close-icon {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 24px;
        height: 24px;
        padding: 4px;
        border-radius: 100%;
        opacity: 0;
        transition: all .125s ease-in-out;

        &:hover {
            background-color: #ECEEFE;
        }
    }
}

.file-popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: .15);
    @include d-flex();
    z-index: 99;

    .img-container {
        @include d-flex();
        background-color: white;
        padding: 24px;
        border-radius: 25px;
        border: 4px solid #e6e6e6;
        width: 40%;
        position: relative;

        &:hover .link {
            opacity: .9;
        }

        .img-in-popup {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .link {
            position: absolute;
            z-index: 100;
            opacity: 0;
            cursor: pointer;
            z-index: 100;
            border-radius: 100%;
            padding: 8px;
            background-color: #e6e6e6;
            transition: all .125s ease-in-out;
        }
    }


    .close-icon {
        cursor: pointer;
        position: absolute;
        top: 24px;
        right: 24px;
        padding: 4px;
        border-radius: 100%;
        transition: all .125s ease-in-out;

        &:hover {
            background-color: #ECEEFE;
            transform: scale(1.2);
        }
    }
}

.red {
    font-size: 18px;
    font-weight: 600;
    color: #ED1E79;
    width: auto;
    height: auto;
    border: 2px solid #ED1E79;
}

.textarea-icon {
    width: 40px;
    height: 40px;
    @include d-flex()
}

.answer-container {
    position: absolute;
    bottom: 160px;
    left: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-family: 'Nunito';
    border-radius: 30px;
    background-color: #787ef2;
    padding: 8px 12px;
    color: white;
}

.user-box {
    @include d-flex($jc: flex-start, $g: 4px);

    >img {
        width: 24px;
        height: 24px;
        object-fit: cover;
        border-radius: 100%;
    }
}

// media queries

@media (max-width: 960px) {
    .uploaded-file {
        width: 128px;
        height: 72px;
    }

    .uploaded-file .uploaded-img {
        width: 128px;
        height: 72px;
    }
}

@media (max-width: 768px) {
    .textarea-container {
        left: 24px;
        right: 24ppx;
    }
}

@media (max-width: 560px) {
    .emoji-container {
        bottom: 161px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;
    }

    .textarea-container {
        left: 20px;
        right: 20px;
    }

    .add-emoji-icon {
        display: none;
    }

    .answer-container {
        @include d-flex(column, space-between, center, 8px);
        width: 90%;
    }
}