<div class="sidenav">
    <div class="channel-btn">
        <span class="channel-btn-logo-name">
            <img class="workspaceLogo" src="assets/img/workspaceLogo.png" alt="">
            <h3>Devspace</h3>
        </span>
        <img class="edit-icon" src="assets/icons/edit_square.png" alt="">
    </div>

    <div class="channel-container">
        <div class="channel-header">
            <div class="arrow-symbol-title-container">
                <img class="arrow-down" src="assets/icons/arrow-down.png" alt="">
                <span>
                    <img class="threeBalls" src="assets/icons/threeBalls.png" alt="">
                    <h2>Channels</h2>
                </span>
            </div>
            <img class="add-icon" src="assets/icons/addIcon.png" alt="">
        </div>
        <a href="">Entwicklerteam</a>
        <span class="add-channel-container"><img src="assets/icons/add_circle.png" alt=""><h3>Channel Hinzufügen</h3></span>
    </div>
</div>