@import '../../../../styles.scss';

.message {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 10px 10px 10px 40px;
    width: 100%;
    &:hover {
        background: #ECEEFD;
    }

    &:hover .answer-message {
        background-color: white;
    }
}

.add-reaction-popup {
    cursor: pointer;
    position: absolute;
    left: 16px;
    top: -32px;
    background-color: white;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 25px 25px 0px 25px;
    padding: 3px 8px 3px 8px;
    display: flex;
    align-items: center;
    z-index: 5;
    opacity: 0;
    transform: translateX(-16px);
    transition: all .125s ease-in-out;
}

.reaction-popoup-reverse {
    left: auto !important;
    right: 16px;
    border-radius: 25px 25px 25px 0;
}

.reaction-dialog {
    position: absolute;
    top: -56px;
    right: 78px;
    @include d-flex($jc: center, $g: 12px);
    flex-wrap: wrap;
    padding: 15px 12px;
    background-color: white;
    width: 180px;
    border-radius: 30px 30px 0px 30px;
    box-shadow: 0px 2px 10px 0px #00000014;
}

.reaction-dialog-reverse {
    right: auto !important;
    left: 128px !important;
    border-radius: 30px 30px 30px 0px !important;
}

.emoji-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;

    object-fit: cover;
    border-radius: 100%;
    transition: all 0.125s ease-in-out;

    &:hover {
        background-color: transparent !important;
        transform: scale(1.2);
    }
}

.slide-in {
    opacity: 1;
    transform: translateX(0) !important;
}

.reaction-bar {
    position: absolute;
    top: 34px;
    right: 16px;
    z-index: 10;
    background: #fff;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 25px 25px 0px 25px;
    padding: 3px 15px 3px 20px;
    opacity: 0;
    @include d-flex($jc: space-between, $g: 5px);
    transform: translateX(-24px);
    transition: all 0.125s ease-in-out;

    >img {
        cursor: pointer;
        border-radius: 100%;
        margin: 4px;

        &:hover {
            background: rgba(236, 238, 254, 1);
        }
    }
}

.reaction-dialog-indicatorbar {
    position: absolute;
    bottom: 38px;
    left: 48px;
    @include d-flex($jc: center, $g: 12px);
    flex-wrap: wrap;
    padding: 15px 12px;
    background-color: white;
    z-index: 10;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0px 2px 10px 0px #00000014;
}

.reaction-dialog-indicatorbar-reverse {
    right: 24px !important;
    bottom: 38px;
    left:auto !important;
    border-radius: 30px 30px 0 30px !important;
}

.avatar-thread-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
}

.thread-message {
    @include d-flex($fd: column, $jc: flex-start, $ai: flex-end, $g: 8px);
    width: 80%;

    >.time-and-name-container {
        width: 100%;
        @include d-flex($jc: flex-start, $g: 20px);

        >.name {
            font-size: 18px;
            font-weight: 700;

            &:hover {
                color: $specialBlue;
                cursor: pointer;
            }
        }
    }

    .answer-message {
        background: rgba(236, 238, 254, 1);
        border-radius: 0px 20px 20px 20px;
        padding: 15px;
        font-size: 18px;
        font-weight: 400;
    }
}

.reaction-indicator-container {
    @include d-flex($jc: flex-end, $g: 10px);
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}



.reaction-indicator {
    @include d-flex($jc: space-between, $g: 10px);
    padding: 5px 10px;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 20px;
    background: #fff;
}



.addReaction-icon-thread {
    height: 44px;
    width: 44px;
    object-fit: contain;
    background: transparent;

    &:hover path {
        fill: $specialBlue;
    }

    &:hover {
        background: transparent;
    }
}

.pop-up-reaction {
            position: absolute;
            //@include d-flex($fd: column, $g: 16px);
            bottom: 24px;
            left: 26px;
            width: 150px;
            border-radius: 30px 30px 30px 0px;
            background: blue;
            padding: 15px 10px;
            color: #fff;
            display: none;
            transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
            z-index: 10;

            >div {
                @include d-flex($fd: column, $g: 8px);
            }

            >.pop-up-reacter {
                @include d-flex($fd: column, $ai: center, $g: 5px);
            }
        }

.emoji-thread {
    height: 24px;
    width: 24px;
    object-fit: contain;
}

.answers-container-thread {
    padding: 10px 10px 10px 40px;
}

.reverse {
    flex-direction: row-reverse;
    padding: 10px 40px 10px 10px;
    .time-and-name-container {
        flex-direction: row-reverse;
    }

    .answer-message {
        border-radius: 20px 0 20px 20px !important;
    }

    &:hover {
        background-color: #ECEEFD !important;
    }

    &:hover .answer-message {
        background-color: #787EF2;
        color: white;
    }
}

.uploaded-file-container {
    cursor: pointer;
    @include d-flex();
    padding: 8px;
    border: 4px solid #e6e6e6;
    border-radius: 12px;
    margin-left: 8px;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: white;
    transition: all .125s ease-in-out;

    &:hover .uploaded-img {
        transform: scale(1.02);
    }

    &:hover .close-icon {
        opacity: 1;
    }

    .uploaded-img {
        position: absolute;
        width: 200px;
        height: 200px;
        object-fit: contain;
        transition: all .125s ease-in-out;
    }

    .close-icon {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 24px;
        height: 24px;
        padding: 4px;
        border-radius: 100%;
        opacity: 0;
        transition: all .125s ease-in-out;

        &:hover {
            background-color: #ECEEFE;
        }
    }
}

.file-popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: .15);
    @include d-flex();
    z-index: 99;

    .img-container {
        @include d-flex();
        background-color: white;
        padding: 24px;
        border-radius: 25px;
        border: 4px solid #e6e6e6;
        width: 40%;
        position: relative;

        &:hover .link {
            opacity: .9;
        }

        .img-in-popup {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .link {
            position: absolute;
            z-index: 100;
            opacity: 0;
            cursor: pointer;
            z-index: 100;
            border-radius: 100%;
            padding: 8px;
            background-color: #e6e6e6;
            transition: all .125s ease-in-out;}
        }

        .close-icon {
            cursor: pointer;
            position: absolute;
            top: 24px;
            right: 24px;
            padding: 4px;
            border-radius: 100%;
            transition: all .125s ease-in-out;

            &:hover {
                background-color: #ECEEFE;
                transform: scale(1.2);
            }
        }
    }

// Media Queries

@media (max-width: 1100px) {
    .avatar-thread-img {
        width: 48px;
        height: 48px;
    }

    .addReaction-icon-thread {
        width: 32px;
        height: 32px;
    }

    .reaction-dialog-reverse {
        left: 108px
    }
}

@media (max-width: 960px) {
    .reverse {
        padding: 10px 16px 10px 10px;
    }

    .message {
        padding: 10px 10px 10px 26px;
    }

    .reaction-dialog-indicatorbar {
        padding: 12px;
    }

    .emoji-icon {
        width: 20px;
        height: 20px;
    }
}