@import '../../../styles.scss';


.textarea-container {
    position:absolute;
    bottom:20px;
    left: 38px;
    right: 38px;
    min-height: 145px;
    background: #fff;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 20px;
    padding: 20px;
    @include d-flex($fd: column);

    >textarea {
        display: flex;
        flex: 1;
        width: 100%;
        border: unset;
        outline: none;
        resize: none;
        font-family: "Nunito";
        font-size: 18px;
        font-weight: 400;

        &::placeholder {
            font-size: 18px;
            font-weight: 400;
            color: rgba(104, 104, 104, 1);
        }
    }

    >.tool-panel-textarea {
        width: 100%;
        @include d-flex($jc: space-between);
    }
}

.textarea-icon:hover {
    border-radius: 100%;
    background: rgba(236, 238, 254, 1);
    cursor: pointer;
}

.textarea-icon:hover path {
    fill: $specialBlue;
}

.sendMsg-icon:hover {
    border-radius: 100%;
    background: rgba(236, 238, 254, 1);
    cursor: pointer;
}

.sendMsg-icon:hover path {
    fill: $specialBlue;
}

.d-none {
    display: none;
}

.emoji-container {
    position: absolute;
    background-color: white;
    bottom: 160px;
    left: 110px;
    z-index: 5;
}

.tag-member-dialog {
    font-family: 'Nunito', sans-serif;
    position: absolute;
    bottom: 176px;
    left: 96px;
    @include d-flex($fd:column, $g: 12px, $ai: flex-start);
    padding: 15px 15px;
    border-radius: 30px;
    box-shadow: 4px 2px 10px 5px rgba(0, 0, 0, 0.2);
    z-index: 20;
    background-color: white;

    .member {
        cursor: pointer;
        @include d-flex($jc: flex-start, $g: 16px);
        font-size: 16px;
        font-weight: 700;
        transition: all .125s ease-in-out;
        padding: 6px 12px;
        border-radius: 30px;

        &:hover {
            transform: scale(1.05);
            background-color: #ECEEFE;
        }
        >img {
            width: 32px; 
            height: 32px;
            object-fit: cover;
            border-radius: 100%;
        }
    }
}

input[type="file"] {
    display: none;
}
.icons-container {
    @include d-flex();
}

.uploaded-file {
    cursor: pointer;
    @include d-flex();
    padding: 8px;
    border: 4px solid #e6e6e6;
    border-radius: 12px;
    margin-left: 8px;
    position: relative;
    width: 250px;
    height: 100px;
    overflow: hidden;
    
    &:hover .uploaded-img {
        transform: scale(1.1);
    }

    &:hover .close-icon {
        opacity: 1;
    }

    .uploaded-img {
        position: absolute;
        width: 200px;
        height: 80px;
        object-fit: contain;
        transition: all .125s ease-in-out;
    }

    .close-icon {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 24px;
        height: 24px;
        padding: 4px;
        border-radius: 100%;
        opacity: 0;
        transition: all .125s ease-in-out; 
        
        &:hover {
            background-color: #ECEEFE;
        }
    }
}

.red {
    font-size: 18px;
    font-weight: 600;
    color: #ED1E79;
    width: auto;
    height: auto;
    border: 2px solid #ED1E79;
}

// media queries

@media (max-width: 960px) {
    .uploaded-file {
        width: 128px;
        height: 72px;
    }

    .uploaded-file .uploaded-img {
        width: 128px;
        height: 72px;
    }
}