<div class="flex-center">
    <header>
        <div class="logo-box">
            <img src="assets/img/logo.png" alt="">
            <h1>DABubble</h1>

        </div>
    </header>
    <div class="content">
        <div class="reset-password">
            @if (actionMode == 'verifyAndChangeEmail') {
            <div class="headline">
                <img src="assets/img/arrow_back.png" alt="" class="back-arrow" (click)="backToLogin()">
                <h2>E-Mail-Adresse erfolgreich geändert</h2>
            </div>
            <span>Ihre E-Mail-Adresse wurde erfolgreich geändert. Sie können sich nun <br>mit ihrer neuen Adresse
                einloggen</span>
            } @else if (actionMode == 'verifyEmail') {
            <div class="headline">
                <img src="assets/img/arrow_back.png" alt="" class="back-arrow" (click)="backToLogin()">
                <h2>E-Mail-Adresse bestätigt</h2>
            </div>
            <span>Hiermit haben sie ihre E-Mail-Adresse bestätigt</span>
            } @else {
            <div class="headline">
                <img src="assets/img/arrow_back.png" alt="" class="back-arrow" (click)="backToLogin()">
                <h2>Passwort zurücksetzen</h2>
            </div>
            <form (ngSubmit)="onSubmit(resetForm)" #resetForm="ngForm">
                <div class="input-fields">
                    <div class="input-container">
                        <div class="input-box">
                            <label for="password"></label>
                            <input placeholder="Neues Passwort" type="password" required minlength="8"
                                [(ngModel)]="newPassword" name="password" id="password" #password="ngModel">
                        </div>
                        @if (password.touched && !password.valid) {
                        <span class="error-message">Bitte mindestens 8 Zeichen eingeben</span>
                        }
                    </div>

                    <div class="input-container">
                        <div class="input-box">
                            <label for="passwordConfirmation"></label>
                            <input type="password" id="passwordConfirmation" name="passwordConfirm"
                                [(ngModel)]="passwordConfirmation" #passwordConfirm="ngModel" required minlength="8"
                                placeholder="Neues Passwort bestätigen">
                        </div>
                        @if (passwordNotConfirmed) {
                        <span class="error-message">Die Passwörter stimmen nicht überein</span>
                        }
                    </div>
                </div>
                <input type="submit" [class.disabled-btn]="!resetForm.valid || passwordChanged"
                    [disabled]="!resetForm.valid || passwordChanged" class="btn-no-style login-btn"
                    value="E-Mail senden">
            </form>
            }

        </div>

        <div [class.slide-in]="passwordChanged" class="confirmation-message">
            Passwort erfolgreich geändert
        </div>

    </div>
</div>