<div class="flex flex-col h-screen">
    <header class="flex justify-start px-[75px] pt-8 max-md:justify-center max-md:px-0">
        <div class="flex gap-4 items-center">
            <img src="assets/img/logo.png" alt="" class="max-md:w-14 max-md:h-14 max-h-[770px]:w-10 max-h-[770px]:h-10">
            <h1 class="text-[32px] max-md:text-[24px] max-h-[770px]:text-[24px]">DABubble</h1>
        </div>
    </header>
    <div class="flex flex-col justify-start gap-5 h-[calc(100vh-110px)] overflow-hidden max-md:h-auto max-md:gap-3 max-h-[860px]:gap-4">
        <div class="flex flex-col gap-8 bg-white shadow-[0px_2px_10px_0px_rgba(0,0,0,0.078)] rounded-[30px] px-16 py-8 w-fit mt-16 max-md:mt-0 max-md:w-[95%] max-md:px-[25px] max-md:py-8 max-[590px]:w-[95%] max-[590px]:px-5 max-h-[860px]:gap-4 max-h-[770px]:px-5 max-h-[770px]:py-5 max-h-[770px]:gap-3">
            @if (actionMode === 'verifyAndChangeEmail') {
            <div class="relative flex items-center justify-center w-full px-8">
                <img src="assets/img/arrow_back.png" alt="" class="absolute left-[-24px] px-[15px] py-[15px] rounded-full cursor-pointer transition-all duration-125 hover:bg-[#ECEEFE] max-md:left-0 max-md:px-2 max-[500px]:left-0 max-[500px]:px-2" (click)="backToLogin()">
                <h2 class="text-[#444DF2] text-[46px] font-bold text-center max-md:text-[32px] max-h-[870px]:text-[24px] max-h-[770px]:text-[24px]">E-Mail-Adresse erfolgreich geändert</h2>
            </div>
            <span class="text-[20px] text-center max-md:text-[17px] max-h-[770px]:text-[15px]">Ihre E-Mail-Adresse wurde erfolgreich geändert. Sie können sich nun <br>mit ihrer neuen Adresse einloggen</span>
            } @else if (actionMode === 'verifyEmail') {
            <div class="relative flex items-center justify-center w-full px-8">
                <img src="assets/img/arrow_back.png" alt="" class="absolute left-[-24px] px-[15px] py-[15px] rounded-full cursor-pointer transition-all duration-125 hover:bg-[#ECEEFE] max-md:left-0 max-md:px-2 max-[500px]:left-0 max-[500px]:px-2" (click)="backToLogin()">
                <h2 class="text-[#444DF2] text-[46px] font-bold text-center max-md:text-[32px] max-h-[870px]:text-[24px] max-h-[770px]:text-[24px]">E-Mail-Adresse bestätigt</h2>
            </div>
            <span class="text-[20px] text-center max-md:text-[17px] max-h-[770px]:text-[15px]">Hiermit haben sie ihre E-Mail-Adresse bestätigt</span>
            } @else {
            <div class="relative flex items-center justify-center w-full px-8">
                <img src="assets/img/arrow_back.png" alt="" class="absolute left-[-24px] px-[15px] py-[15px] rounded-full cursor-pointer transition-all duration-125 hover:bg-[#ECEEFE] max-[500px]:left-0 max-[500px]:px-2 max-[380px]:left-1 max-[380px]:px-1" (click)="backToLogin()">
                <h2 class="text-[#444DF2] text-[46px] font-bold text-center max-md:text-[32px] max-h-[870px]:text-[24px] max-h-[770px]:text-[24px]">Passwort zurücksetzen</h2>
            </div>
            <form (ngSubmit)="onSubmit(resetForm)" #resetForm="ngForm" class="flex flex-col gap-8 w-full max-md:gap-5 max-h-[870px]:gap-4 max-h-[770px]:gap-3">
                <div class="flex flex-col gap-[15.5px]">
                    <div class="h-[77px] max-h-[770px]:h-[67px]">
                        <div class="relative flex items-center w-[500px] rounded-full bg-[#ECEEFE] max-md:w-full">
                            <label for="password"></label>
                            <input placeholder="Neues Passwort" type="password" required minlength="8"
                                [(ngModel)]="newPassword" name="password" id="password" #password="ngModel"
                                class="border border-transparent rounded-full outline-none bg-transparent w-full px-8 py-[18px] h-full text-[18px] max-md:text-[17px] max-h-[770px]:text-[15px] placeholder-[#686868] transition-all duration-125 hover:border-black focus:border-[#444DF2]">
                        </div>
                        @if (password.touched && !password.valid) {
                        <span class="text-[14px] text-[#ED1E79] text-center max-h-[770px]:text-[13px]">Bitte mindestens 8 Zeichen eingeben</span>
                        }
                    </div>

                    <div class="h-[77px] max-h-[770px]:h-[67px]">
                        <div class="relative flex items-center w-[500px] rounded-full bg-[#ECEEFE] max-md:w-full">
                            <label for="passwordConfirmation"></label>
                            <input type="password" id="passwordConfirmation" name="passwordConfirm"
                                [(ngModel)]="passwordConfirmation" #passwordConfirm="ngModel" required minlength="8"
                                placeholder="Neues Passwort bestätigen"
                                class="border border-transparent rounded-full outline-none bg-transparent w-full px-8 py-[18px] h-full text-[18px] max-md:text-[17px] max-h-[770px]:text-[15px] placeholder-[#686868] transition-all duration-125 hover:border-black focus:border-[#444DF2]">
                        </div>
                        @if (passwordNotConfirmed) {
                        <span class="text-[14px] text-[#ED1E79] text-center max-h-[770px]:text-[13px]">Die Passwörter stimmen nicht überein</span>
                        }
                    </div>
                </div>
                <input type="submit" [disabled]="!resetForm.valid || passwordChanged" [class.disabled-btn]="!resetForm.valid || passwordChanged" class="btn-no-style w-fit bg-[#444DF2] text-white transition-all duration-125 hover:bg-[#787EF2] hover:border-[#787EF2] cursor-pointer px-4 py-2 rounded-full font-medium self-end max-md:px-[18px] max-md:py-3" value="E-Mail senden">
            </form>
            }
        </div>

        <div [class]="'flex gap-6 px-[50px] py-[50px] rounded-[30px_30px_0_30px] bg-[#444DF2] shadow-[0px_6px_10px_0px_rgba(0,0,0,0.2)] text-white text-[36px] font-bold self-end mr-4 transform transition-transform duration-125 ' + (passwordChanged ? 'translate-x-0' : 'translate-x-[700px]') + ' max-md:px-[25px] max-md:py-[25px] max-md:text-[24px] max-[410px]:text-[20px] max-[410px]:px-[15px] max-[410px]:py-[15px]'">
            Passwort erfolgreich geändert
        </div>
    </div>
</div>