@import '../../styles.scss';

.board {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.view {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex: 1;
    padding: 0 16px;

    >.chatField {
        height: 100%;
        width: 100%;
        @include d-flex($fd: column, $jc: space-between, $ai: flex-start, $g: 24px);
        flex: 1;
        background: #fff;
        border-radius: 30px;
        padding: 25px;
    }
}