@import '../../../styles.scss';

.thread {
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 30px;
    font-family: "Nunito";
    position: relative;
    @include d-flex(column, flex-start, none, 24px);
    transition: all 0.25s cubic-bezier(.215, .61, .355, 1);

    >.thread-header {
        @include d-flex($jc: space-between, $ai: center);
        padding: 32px 40px;

        >.title-and-channel-container {
            @include d-flex($jc: space-between, $ai: center, $g: 8px);
        }
    }
}

.title-and-channel-container {
    >h2 {
        font-size: 24px;
        font-weight: 700;
    }

    >.hashtag-icon-thread {
        width: 16px;
        height: 16px;
        object-fit: contain;
    }

    >.channel-thread {
        color: $specialBlue;
    }
}

.thread-chat {
    height: 450px;
    overflow-y: auto;
}

.thread-message-box {
    padding: 10px 10px 10px 40px;
    @include d-flex($fd: column, $jc: flex-start, $g: 8px);
}

.message {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.message-3{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.thread-message {
    @include d-flex($fd: column, $jc: flex-start, $g: 8px);

    >.time-and-name-container {
        width: 100%;
        @include d-flex($jc: flex-start, $g: 20px);

        >.name {
            font-size: 18px;
            font-weight: 700;

            &:hover {
                color: $specialBlue;
                cursor: pointer;
            }
        }
    }

    >p {
        background: rgba(236, 238, 254, 1);
        border-radius: 0px 20px 20px 20px;
        padding: 15px;
        font-size: 18px;
        font-weight: 400;
    }
}

.cross-icon {
    height: 40px;
    width: 40px;
    object-fit: contain;
    border-radius: 100%;

    &:hover {
        cursor: pointer;
        background: rgba(236, 238, 254, 1);
    }

    &:hover path {
        fill: $specialBlue;
    }
}

.answer-advice-container {
    @include d-flex($jc: space-between, $g: 20px);
    width: 100%;

    >.answer-advice {
        @include d-flex($jc: space-between, $g: 8px);
        color: rgba(173, 176, 217, 1);
    }

    >.line {
        height: 1px;
        flex: 1;
        display: block;
        background: rgba(173, 176, 217, 1);
    }
}

.avatar-thread-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
}

.reaction-indicator-container {
    @include d-flex($jc: space-between, $g: 10px);
}

.reaction-indicator {
    @include d-flex($jc: space-between, $g: 10px);
    padding: 5px 10px;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 20px;
    background: #fff;
}

.addReaction-icon-thread {
    height: 32px;
    width: 32px;
    object-fit: contain;
    background: #fff;

    &:hover path {
        fill: $specialBlue;
    }

    &:hover {
        background: transparent;
    }
}

.emoji-thread {
    height: 24px;
    width: 24px;
    object-fit: contain;
}

.answers-container-thread {
    padding: 10px 10px 10px 40px;
}

.textarea-container {
    padding: 24px
}