@import '../../../styles.scss';

.thread {
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 30px;
    font-family: "Nunito";
    position: relative;
    @include d-flex(column, flex-start, none, 24px);
    transition: all 0.25s cubic-bezier(.215, .61, .355, 1);

    >.thread-header {
        @include d-flex($jc: space-between, $ai: center);
        padding: 32px 40px;
        box-shadow: 0px 2px 10px 0px #00000014;


        >.title-and-channel-container {
            @include d-flex($jc: space-between, $ai: center, $g: 8px);
        }
    }
}

.title-and-channel-container {
    >h2 {
        font-size: 24px;
        font-weight: 700;
    }

    >.hashtag-icon-thread {
        width: 16px;
        height: 16px;
        object-fit: contain;
    }

    >.channel-thread {
        color: $specialBlue;
    }
}

.thread-chat {
    overflow-y: auto;
    padding-top: 32px;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(173, 176, 217, 1);
        border-radius: 100px;
    }
}

.thread-message-box {
    
   
    @include d-flex($fd: column, $jc: flex-start, $g: 8px, $ai: flex-start);
}

.message {
    position: relative;
    padding: 10px 10px 10px 40px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    &:hover {
        background-color: #ECEEFD;
    }

    &:hover .thread-answer-message{
        background-color: white;
    }
}
.add-reaction-popup {
    cursor: pointer;
    position: absolute;
    left: 16px;
    top: -32px;
    background-color: white;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 25px 25px 0px 25px;
    padding: 3px 8px 3px 8px;
    display: flex;
    align-items: center;
    z-index: 5;
    opacity: 0;
    transform: translateX(-16px);
    transition: all .125s ease-in-out;
}

.reaction-popoup-reverse {
    left: auto !important;
    right: 16px;
    border-radius: 25px 25px 25px 0;
}

.reaction-dialog {
    position: absolute;
    top: 0px;
    right: 78px;
    @include d-flex($jc: center, $g: 12px);
    flex-wrap: wrap;
    padding: 15px 12px;
    background-color: white;
    width: 180px;
    border-radius: 30px 0px 30px 30px;
    box-shadow: 0px 2px 10px 0px #00000014;
}

.reaction-dialog-reverse {
    right: auto !important;
    left: 78px !important;
    border-radius: 30px 30px 30px 0px !important;
}

.emoji-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;

    object-fit: cover;
    border-radius: 100%;
    transition: all 0.125s ease-in-out;

    &:hover {
        background-color: transparent !important;
        transform: scale(1.2);
    }
}

.reaction-dialog-indicatorbar {
    position: absolute;
    bottom: 56px;
    left: 48px;
    @include d-flex($jc: center, $g: 12px);
    flex-wrap: wrap;
    padding: 15px 12px;
    background-color: white;
    z-index: 10;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0px 2px 10px 0px #00000014;
}

.reaction-dialog-indicatorbar-reverse {
    right: 48px !important;
    left:auto !important;
    border-radius: 30px 30px 0 30px !important;
}

.slide-in {
    opacity: 1;
    transform: translateX(0) !important;
}

.message-3 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.thread-message {
    @include d-flex($fd: column, $jc: flex-start, $g: 8px, $ai: flex-start);

    >.time-and-name-container {
        width: 100%;
        @include d-flex($jc: flex-start, $g: 20px);

        >.name {
            font-size: 18px;
            font-weight: 700;

            &:hover {
                color: $specialBlue;
                cursor: pointer;
            }
        }
    }

    >p {
        background: rgba(236, 238, 254, 1);
        border-radius: 0px 20px 20px 20px;
        padding: 15px;
        font-size: 18px;
        font-weight: 400;
    }
}

.answer-advice-container {
    @include d-flex($jc: space-between, $g: 20px);
    width: 100%;
    padding: 10px 40px 10px 40px;

    >.answer-advice {
        @include d-flex($jc: space-between, $g: 8px);
        color: rgba(173, 176, 217, 1);
    }

    >.line {
        height: 1px;
        flex: 1;
        display: block;
        background: rgba(173, 176, 217, 1);
    }
}

.avatar-thread-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
}

.reaction-indicator-container {
    @include d-flex($jc: flex-start, $g: 10px);
    flex-wrap: wrap;
}

.reaction-indicator {
    @include d-flex($jc: space-between, $g: 10px);
    padding: 5px 10px;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 20px;
    background: #fff;
}

.addReaction-icon-thread {
    height: 44px;
    width: 44px;
    object-fit: contain;
    background: transparent;

    &:hover path {
        fill: $specialBlue;
    }

    &:hover {
        background: transparent;
    }
}

.emoji-thread {
    height: 24px;
    width: 24px;
    object-fit: contain;
}

.answers-container-thread {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 10px 0px;
}

.textarea-container {
    padding: 24px
}