<div>
    <div class="logo-container">
        <img src="./assets/img/logo.png" alt="logo">
        <img src="./assets/img/logoName.png" alt="">
    </div>
    <div class="input-search-container">
        <input type="text" placeholder="Coding learning durchsuchen">
        <img src="./assets/img/search.png" alt="">
    </div>
    <div class="user-container">
        <span>User Name</span>
        <img class="account-photo" src="./assets/img/avatar.png" alt="account-photo">
        <img class="arrow" src="./assets/img/arrow-down.png" alt="arrow-icon">
    </div>
</div>