@use 'variables' as *;

.profile-options-mobile {
  transform: translateY(220px);
  transition: all 0.125s ease-in;

  &.slide-in {
    animation: slide-in 0.125s 0.05s ease-in-out forwards;
  }

  &.slide-out {
    animation: slide-out 0.125s 0.05s ease-in-out forwards;
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(220px);
  }
}

@keyframes slide-in {
  from {
    transform: translateY(220px);
  }

  to {
    transform: translateY(0);
  }
}

@media (max-height: 760px) {
  .profile-dialog {
    padding: 20px !important;
  }
}
