@import "../../../styles.scss";

div {
  @include d-flex($jc: space-between);
  padding: 16px 16px 0 16px;
  position: relative;
}

.logo-container {
  @include d-flex($g: 16px);
}

.logo-container-workspace {
  @include d-flex($g: 8px);

  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

@media (min-width: 960px) {
  .input-search-container {
    position: relative;
    width: 40%;
    background: #fff;
    border-radius: 50px;
    padding: 17.5px 55px 17.5px 45px;
    @include d-flex($jc: space-between, $g: 16px);

    > input {
      font-family: "Nunito";
      height: 30px;
      width: 100%;
      border: unset;
      outline: none;
      font-size: 24px;
      font-weight: 400;

      &::placeholder {
        color: rgba(0, 0, 0, 0.5);
      }
    }

    > img {
      position: absolute;
      right: 16px;
      height: 35px;
      width: 35px;
      border-radius: 100%;
      padding: 4px;

      &:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.user-container {
  position: relative;
  @include d-flex($jc: space-between, $g: 20px);
  cursor: pointer;

  &:hover span {
    color: $specialBlue;
  }

  &:hover .arrow-down-user path {
    fill: $specialBlue;
  }

  > span {
    font-size: 32px;
    font-weight: 700;
    font-family: "Nunito";
  }

  > .account-photo {
    height: 70px;
    width: 70px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    cursor: pointer;
  }

  > .arrow-down-user {
    width: 13px;
    height: 8px;
    object-fit: cover;
  }
}

.profile-options {
  cursor: default;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  gap: 15px;
  right: 0;
  top: 108px;
  z-index: 10;
  border-radius: 30px 0 30px 30px;
  box-shadow: 0px 6px 10px 0px #00000033;

  .profile-btn {
    width: fit-content;
    background-color: transparent;
    color: black;
    border-color: transparent;
    transition: background-color 0.125s ease-in-out;
    padding: 10px 45px;
    font-size: 24px;
    font-weight: 600;

    &:hover {
      background-color: #eceefe;
      border-color: transparent;
      color: #5359f1;
    }
  }
}

.state-icon {
  right: 46px;
  bottom: 8px;
  position: absolute;
  width: 16px;
  height: 16px;
}

.profile-options-mobile {
  @include d-flex($fd: column);
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 54;
  box-shadow: 0px -3px 10px 0px #00000033;
  border-radius: 30px 30px 0 0;
  padding: 30px 26px;
  transform: translateY(220px);
  transition: all .125s ease-in;
  display: none;

  .options {
    @include d-flex($fd: column, $g: 15px, $ai: flex-start);
    align-self: flex-start;

    > .profile-btn {
        @include d-flex($g: 15px);
      width: fit-content;
      background-color: transparent;
      color: black;
      border-color: transparent;
      transition: background-color 0.125s ease-in-out;
      padding: 10px 45px;
      font-size: 24px;
      font-weight: 600;

      &:hover {
        background-color: #eceefe;
        border-color: transparent;
        color: #5359f1;
      }
    }
  }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 51;
    display: flex;
    align-items: center;
    justify-content: center;
}

.width-100 {
    width: 100% !important;
}

.profile {
    @include d-flex($fd: column, $g: 38px);
    background-color: white;
    padding: 45px 20px;
    border-radius: 30px;
    box-shadow: 0px 6px 10px 0px #00000033;
    z-index: 11;
    display: none;
}

.slide-in {
    animation: slide-in .125s .05s ease-in-out forwards;
}

.slide-out {
    animation: slide-out .125s .05s ease-in-out forwards;
}

@keyframes slide-out {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(220px);
    }
}

@keyframes slide-in {
    from {
        transform: translateY(220px);
    }

    to {
        transform: translateY(0);
    }
}

@media (max-width: 960px) {
  div {
    padding: 8px 16px 0 6px;
  }

  .input-search-container {
    display: none;
  }

  .logo {
    width: 48px;
    height: 48px;
  }

  .logo-headline {
    height: 20px;
  }

  .user-container {
    > span {
      font-size: 24px;
    }

    > .account-photo {
      width: 48px;
      height: 48px;
    }
  }

  .state-icon {
    bottom: 0;
    right: 48px;
  }
}

@media (max-width: 768px) {
  .profile-options {
    display: none;
  }

  .profile-options-mobile {
    display: flex;
  }

  .profile {
    display: flex;
  }
}

@media (max-width: 560px) {
  .user-container {
    > span {
      display: none;
    }

    > .arrow-down-user {
      display: none;
    }
  }

  .state-icon {
    right: 14px;
  }

  .logo {
    width: 45px;
    height: 45px;
  }

  .logo-headline {
    height: 16px;
  }

  .workspace-logo {
    width: 45px;
    height: 45px;
  }

  .logo-container-workspace > h3 {
    font-size: 20px;
  }

  .profile {
    width: 85%;
  }
}

@media (max-width: 495px) {
    .profile {
        width: 100%;
    }
}
