<header>
    <div class="logo-box">
        <img src="assets/img/logo.png" alt="">
        <img src="../../assets/img/logoName.png" alt="">
    </div>
</header>
<div class="content">
    <div class="login-container">
        @if (!next) {
            <app-signup (showNextPage)="goToAvatarPicker($event)" (passUserDetail)="getUserDetail($event)"></app-signup>
        } @else {
            <app-avatar-picker (signUpSuccessful)="signup($event)" (goBack)="goToAvatarPicker($event)" [userData]="user"></app-avatar-picker>
        }
    </div>
    <div [class.slide-in]="signupSuccessful" class="confirmation-message">
        Konto erfolgreich erstellt!
    </div> 
</div>